$structure-gray: #e3e3e3;
$branding-gold: #d5b477;
$container-bg: #ffffff;


.banner {
  font-size: 19px;
  padding: 20px;
  background-color: $container-bg;
  border-bottom: 1px solid $branding-gold;
  text-transform: uppercase;
}

.logo {
  width: 79px;
  height: 20px;
  position: relative;
  top: 2px;
  margin-right: 8px;
}



/* --- Layout --- */

.main {
  display: flex;
  padding: 2rem;
}

.main__flex-item {
  margin: 1rem;
}

.nav {
  flex: 2;
}

.content {
  flex: 3;
  padding: 0 2%;
  border: 1px solid $structure-gray;
  background-color: $container-bg;
}


/*--- Navigation --- */


ul.nav__links {
  list-style: none;
  border: 1px solid $structure-gray;
  border-bottom: none;
}

.nav__links li {
  border-bottom: 1px solid $structure-gray;
  background-color: $container-bg;
}

.article-link {
  position: relative;
  padding: 3rem 2rem;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-link img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.article-link:hover{
  color: #fff;
  background-color: #000;
}

.article-link:hover img {
  opacity: .6;
}

.article-link span {
  position: relative;
  z-index: 1;
  font-size: 1.2em;
}

.article-link.active {
  color: #fff;
  background-color: #70521d;
}

.article-link.active img {
  opacity: .4;
}


/* --- Body Content --- */


h1 {
  margin: 1em 0;
  text-align: center;
}

.content h2 {
  margin: 2.5rem 0 1rem 0;
}

.content__image {
  width: 100%;
}

ul.content__social {
  list-style: none;
}

.content__social li {
  float: right;
  margin-left: 1rem;
}

.content__social li a {
  //width: 100%;
  //height: 100%;
}

.content__article {
  margin: 3.5rem 0 2em 0;
  text-align: justify;
  //text-justify: distribute;
}

.content__article p {
  margin: 1rem 0;
}

.content__social li a {
  opacity: .7;
}
.content__social li a:hover {
  opacity: 1;
}

.icon_facebook {
  color: #3b5998;
}

.icon_twitter {
  color: #00aced;
}

.icon_rss {
  color: #f26522;
}

/*.App {*/
/*text-align: center;*/
/*}*/

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 40vmin;*/
/*}*/

/*.App-header {*/
/*background-color: #282c34;*/
/*min-height: 100vh;*/
/*display: flex;*/
/*flex-direction: column;*/
/*align-items: center;*/
/*justify-content: center;*/
/*font-size: calc(10px + 2vmin);*/
/*color: white;*/
/*}*/

/*.App-link {*/
/*color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from {*/
/*transform: rotate(0deg);*/
/*}*/
/*to {*/
/*transform: rotate(360deg);*/
/*}*/
/*}*/
